div:hover {
    border: 15px solid purple;
}

.nt-one {
    background-color: aqua;
}

.nt-two {
    background-color: red;
}

.nt-tree {
    background-color: blue;
}

.nt-four {
    background-color: darkorange;
}

.nt-five {
    background-color: lawngreen;
}

div ,.nt-one, .nt-two, .nt-four, .nt-five {
    font-size: 30px;
    weight: 100px;
}

.nt-one, .nt-tree, .nt-five {
    font-style: italic;
}

.nt-tree {
    font-size: 100px;
}